.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  background-color: black;
  padding: 60px 0;

  &__logo {
    width: 120px;
    height: auto;
    fill: get-color('color-secondary');
  }

  &__text {
    font-size: map-get($font-size, 12px);
    color: get-color('color-secondary');
    text-align: center;

    @include tablet-and-more {
      font-size: map-get($font-size, 24px);
    }
  }
}
