.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 20px 30px;

  @include tablet-only {
    margin: 0 50px 30px;
  }

  @include desktop-and-more {
    margin: 0 100px 30px;
  }

  &__banner {
    background: url('./../../assets/about_page_banner.png') no-repeat
      center/cover;
  }

  &__dropdown {
    font-size: map-get($font-size, 24px);
    max-width: 1023px;
  }
}
