.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 180px auto 0;
  color: #ff6060;

  &__title {
    font-size: 96px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      font-size: 288px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 130px;
    @media screen and (min-width: 768px) {
      font-size: 36px;
    }
  }

  &__link {
    text-decoration: underline;
    color: #ff6060;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}
