@import 'variables.scss';
@import 'functions.scss';
@import 'mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;

  @include tablet-and-more {
    padding: 40px 100px;
  }

  &__logo {
    width: 147px;
    @include tablet-and-more {
      width: unset;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 10px;
    @include tablet-and-more {
      gap: 60px;
    }
  }

  &__link {
    color: get-color('color-primary');
    font-size: map-get($font-size, 12px);
    text-transform: uppercase;

    @include tablet-and-more {
      font-size: map-get($font-size, 24px);
      text-transform: unset;
    }

    &.active {
      text-decoration: underline;
    }
  }
}
