@import 'variables.scss';
@import 'functions.scss';
@import 'mixins.scss';

.home {
  &__housing {
    margin: 0 20px;

    @include tablet-and-more {
      margin: 0 100px;
    }
  }

  &__banner {
    background: url('../assets/home_page_banner.png') no-repeat center/cover;
  }

  &__gallery {
    flex-direction: column;
    gap: 20px 0;

    @include tablet-and-more {
      flex-direction: row;
      border-radius: 25px;
      background: get-color('color-tertiary');
      gap: 50px 60px;
      padding: 50px;
    }
  }

  &__card {
    height: 255px;

    @include tablet-and-more {
      width: calc((100% - 120px) / 3);
      height: 340px;
    }
  }
}
